@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<link rel="stylesheet" href="~/css/Registration.css">

<div class="container">
    <h1 class="page-title text-center">Email Confirmation</h1>
    <p class="subtitle text-center">We'll send you a new confirmation link</p>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center mb-4">Resend Confirmation Email</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger" role="alert"></div>

                        <div class="input-group">
                            <span class="input-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                                </svg>
                            </span>
                            <div class="form-floating w-100">
                                <input asp-for="Input.Email" class="form-control input-with-icon w-100" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email">Email</label>
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-lg btn-primary">Resend Confirmation</button>

                        <div class="login-link">
                            <p>
                                Remember your password? <a asp-page="./Login">Back to login</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}