body {
    background-color: #2a6a9a;
}

.card {
    color: white;
}

    .card:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }

.title {
    color: white;
}

.add-game-btn, .filter-game-btn {
    background-color: #273349;
    color: white;
    padding: 8px 16px;
}

.game-card {
    background-color: #0c1c2c;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 500px;
    display: flex;
    flex-direction: column;
}

.card-header {
    height: 300px;
}

.card-body {
    padding: 15px;
    flex-grow: 1;
}

.card-title {
    min-height: 40px;
}

.rating {
    font-size: 1.2em;
    color: white;
}

.card-footer {
    background-color: #0c1c2c;
    border-top: none;
    padding: 10px;
}

a {
    text-decoration: none
}


