@model GameHive.Models.GameViewModel
<h2>Add Game</h2>
<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Tags</label>
        <select asp-for="SelectedTagIds" asp-items="@(new SelectList(Model.AvailableTags, "Id", "Name"))" multiple="multiple" class="form-control"></select>
        <span asp-validation-for="SelectedTagIds" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Game</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}