@model IEnumerable<GameHive.Models.Game>

<link rel="stylesheet" href="~/css/Games.css">
<h2 class="text-2xl font-bold mb-4" style="color:white;">Игри</h2>
<div class="mb-4">
    <a asp-action="Add" class="btn">Добави нова игра</a>
    <a asp-action="Filter" class="btn">Филтрирай игри</a>
</div>

<div class="row">
    @foreach (var game in Model)
    {
        
        <div class="col-md-3 mb-4">
            <div class="card game-card">
                <a asp-action="Details" asp-route-id="@game.GameId">
                    <div class ="card-header"style="background-image: url('@game.GameIconUrl'); background-size:cover;"></div>
                <div class="card-body">
                    <h5 class="card-title">@game.Name</h5>
                    <p class="card-text">@game.BriefDescription</p>
                    <p class="rating">&#9733;&#9733;&#9733;&#9734;&#9734; (3/5)</p>
                </div>
                </a>
            </div>
        </div>
    }
</div>


