@model GameHive.Models.Order_View_Models.CheckoutViewModel

<h2>Checkout</h2>

<form asp-controller="Orders" asp-action="Checkout" method="post">
    <div class="mb-3">
        <label class="form-label">Първо Име</label>
        <input asp-for="FirstName" class="form-control" required />
@*         <span asp-validation-for="FirstName" class="text-danger"></span> *@
    </div>

    <div class="mb-3">
        <label class="form-label">Последно име</label>
        <input asp-for="LastName" class="form-control" required/>
@*         <span asp-validation-for="LastName" class="text-danger"></span> *@
    </div>

    <div class="mb-3">
        <label class="form-label">Емайл</label>
        <input asp-for="Email" class="form-control" required/>

    </div>


    <h3>Обща сума: $@Model.TotalPrice.ToString("F2")</h3>

    @foreach (var item in Model.CartItems)
    {
        <input type="hidden" name="gameIds" value="@item.GameId" />
    }

    <button type="submit" class="btn btn-primary">Завърши поръчката</button>
</form>
