@model GameHive.Models.Tag

<h2>Add Tag</h2>

<form method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Name">Tag Name</label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" asp-action="Add" asp-controller="Tags" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>